h1{
font-family: "Papyrus";
font-size: 52px;
color: white;
text-align: center;
}

.highlight{
color:red;
}

h2{
font-family: "Arial";
font-size: 26px;
color: white;
text-align: center;
margin-top: -25px;
margin-bottom: 30px;
}
    
body{
font-family: "Arial";
font-size: 19px;
color: white;
background-color: black;
padding-left: 200px;
padding-right: 200px;
padding-top: 0;
}
