h1{
font-family: "Papyrus";
font-size: 48px;
color: white;
text-align: center;
}

.highlight{
color:red;
}

h2{
font-family: "Arial";
font-size: 30px;
color: white;
text-align: center;
}
    
body{
font-family: "Arial";
font-size: 20px;
color: white;
background-color: black;
padding-left: 200px;
padding-right: 200px;
padding-top: 0;
}
