h1{
font-family: "Papyrus";
font-size: 48px;
color: white;
text-align: center;
margin-top: 0;
position: relative;
top: 0;
}

.highlight{
color:red;
}

h2{
font-family: "Arial";
font-size: 20px;
color: white;
}
    
body{
font-family: "Arial";
font-size: 18px;
color: white;
background-color: black;
padding: 140px;
margin: 0;
}
