h1{
font-family: "Papyrus";
font-size: 48px;
color: white;
text-align: center;
margin-top: -100px;
}

.highlight{
color:red;
}

h2{
font-family: "Arial";
font-size: 22px;
color: white;
}
    
body{
font-family: "Arial";
font-size: 20px;
color: white;
background-color: black;
margin: 140px;
}
